spring:
  application:
    name: pmd-backend

  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}

  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

pmd:
  mail:
    from: no-reply@pmd.local
  jwt:
    secret: "pmd-local-dev-secret-change-me-please-32chars"
    expirationSeconds: 86400

server:
  port: 8080
