spring:
  application:
    name: pmd-backend
  profiles:
    default: local

  mail:
    host: ${SPRING_MAIL_HOST:localhost}
    port: ${SPRING_MAIL_PORT:1025}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

pmd:
  mail:
    from: no-reply@pmd.local
  jwt:
    expirationSeconds: ${PMD_JWT_EXPIRATIONSECONDS:86400}

server:
  port: 8080
